body {
    background-color:  black;
}

h1 {
    color: white
}

.ball{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: lightpink;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}